<html>
  <head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
      <ul class="list-group">
        <li class="list-group-item active">To do list</li>
        {% for task in tasks %}
        <li class="list-group-item">{{ task.name }}</li>
        {% endfor %}
      </ul>

    </div>
  </body>
</html>
